<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.dao.WebVideoDao">

    <resultMap id="course" type="com.qf.pojo.WebVideo">
        <id column="id" property="id"></id>
        <result column="title" property="title"></result>
        <result column="detail" property="detail"></result>
        <result column="time" property="time"></result>
        <result column="speaker_id" property="speakerId"></result>
        <result column="course_id" property="courseId"></result>
        <result column="video_id" property="videoId"></result>
        <result column="image_url" property="imageUrl"></result>
        <result column="play_num" property="playNum"></result>
    </resultMap>


    <select id="select" parameterType="int" resultMap="course">
        select * from video where course_id = #{id}
    </select>

    <select id="selectById" parameterType="int" resultMap="course">
        select * from video where id = #{id}
    </select>

    <select id="selectList" parameterType="int" resultMap="course">
        select * from video
    </select>

</mapper>